body {
  margin: 0;
  padding: none;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(228, 210, 243);
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fa-solid {
  font: FontAwesome !important;
}

.header_logo {
  font-size: 24px;
  color: rgb(255, 245, 152);
}

.header_menu_ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header_menu_ul li {
  padding: none;
}

.header_menu_ul li:hover {
  background-color: rgb(253, 253, 253);
  border-radius: 0px;
  transition: 0.5s;
}

.header_ham i {
  padding: 8px 12px;
}

/* Navbar */
.navbar {
  background-color: rgba(63, 49, 90, 0.678);
}

.navbar_ul {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.navbar_ul li {
  position: relative;
  transform: scale(.7); filter:blur(none);
  padding: 5px 10px;
  flex-grow: 1;
  list-style: none;
  text-align: center;
}
/* .navbar_li a:after {content: ""; position: absolute; background:rgb(86, 53, 124);} */
.navbar_ul li:before {content: ""; position: absolute; left: 0; top:0; width: 0; height: 1px; background:rgb(95, 28, 150); transition: width .3s;}
.navbar_ul li:hover:before { animation: line1 .5s both;}
.navbar_ul li:after {content: ""; position: absolute; left: 0; top:0; width: 1px; height: 0; background:rgb(95, 28, 150)} 
.navbar_ul li:hover:after { animation: line2 .5s both;}
.navbar_ul li a:before {content: ""; position: absolute; right: 0; top:0; width: 1px; height: 0; background:rgb(95, 28, 150)}
.navbar_ul li a:after {content: ""; position: absolute; right: 0; bottom:0; width: 0; height: 1px; background:rgb(95, 28, 150)}
.navbar_ul li:hover a:before { animation: line2 .5s .2s both;}
.navbar_ul li:hover a:after { animation: line1 .5s .2s both;}

@keyframes line1 {
  0% {left: 0; width: 0;}
  49% {left: 0; width: 100%;}
  50% {left: inherit; right: 0; width: 100%;}
  100% {left: inherit; right: 0; width:0;}
}
@keyframes line2 {
  0% {left: 0; height: 0;}
  49% {left: 0; height: 100%;}
  50% {top: inherit; bottom: 0; height: 100%;}
  100% {top: inherit; bottom: 0; height:0;}
}


.navbar_ul li:hover {
  transform: scale(1.2); filter:blur(0);
  background-color: rgba(221, 219, 243, 664);
  border-radius: 0px;
  transition: 0.5s;
}

/* Contents */

.contents {
  background-color: rgb(209, 188, 247);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.contents_exp {
  display: block;
}

.contents_graph {
  display: block;
}

.contents_gragh_tags {
  display: flex;
  flex-wrap: unwrap;
  justify-content: space-around;
}

/* Pagebar */
.page_bar {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgba(192, 189, 219, 0.664);
  align-items: center;
  text-align: center;
}

.user_button {
  text-align: center;
  align-items: center;
}
