body {
  margin: 0;
  padding: none;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(185, 83, 0);
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fa-solid {
  font: FontAwesome !important;
}

.header_logo {
  font-size: 24px;
  color: rgb(255, 245, 152);
}

.header_menu_ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header_menu_ul li {
  padding: none;
}

.header_menu_ul li:hover {
  background-color: rgb(253, 253, 253);
  border-radius: 0px;
  transition: 0.5s;
}

.header_ham i {
  padding: 8px 12px;
}

/* Navbar */
.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar_ul {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.navbar_ul li {
  padding: 8px 12px;
  flex-grow: 1;
  list-style: none;
  text-align: center;
}

.navbar_ul li:hover {
  background-color: rgba(255, 0, 0, 0.664);
  border-radius: 0px;
  transition: 0.5s;
}

/* Contents */

.contents {
  background-color: rgb(0, 63, 122);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.contents_exp {
  display: block;
}

.contents_graph {
  display: block;
}

.contents_gragh_tags {
  display: flex;
  flex-wrap: unwrap;
  justify-content: space-around;
}

/* Pagebar */
.page_bar {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
}

.user_button {
  text-align: center;
  align-items: center;
}
