<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- script for fontawesome icons -->
    <script src="https://kit.fontawesome.com/ed92d3307c.js" crossorigin="anonymous"></script>

    <!-- css urls -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">

    <!-- script urls -->
    <script src="{{url_for('static', filename='/js/script.js')}}"></script>

    <title>HouseSeoul</title>
</head>
<body>

<!-- ------------------------- header ------------------------- -->
<header>
    <div class="header_logo">
        <a href="#">서울시 HouseView</a>
    </div>
</header>

<!-- ------------------------- navbar ------------------------- -->
<div class="navbar">
    <ul class="navbar_ul">
        <li><a href="">매매</a></li>
        <li><a href="">전세</a></li>
        <li><a href="">월세</a></li>
    </ul>
</div>


<!-- ------------------------- contents ------------------------- -->
<div class="contents">
    <div class="contents_exp">
    </div>
        <div class="contents_graph_iframe" style="display: none;" id="iframe_div">
        <iframe src="http://localhost:5601/app/visualize#/edit/491da7b0-e604-11eb-850e-0f116349053a?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" height="100%" width="100%"></iframe>
        </div>
    </div>
</div>

<div class="page_bar">
    <div class="user_button">
        <button onclick="">로그인</button>
        <button onclick="">로그아웃</button>
        <button onclick="">회원가입</button>
        <button onclick="">마이페이지</button>
    </div>
</div>

</body>
</html>
