<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- script for fontawesome icons -->
    <script src="https://kit.fontawesome.com/ed92d3307c.js" crossorigin="anonymous"></script>

    <!-- css urls -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">

    <!-- script urls -->
    <script src="{{url_for('static', filename='/js/script.js')}}"></script>

    <title>HouseSeoul</title>
</head>
<body>

<!-- ------------------------- header ------------------------- -->
<header>
    <div class="header_logo">
        <a href="#">서울시 HouseView</a>
    </div>
</header>

<!-- ------------------------- navbar ------------------------- -->
<div class="navbar">
    <ul class="navbar_ul">
        <li><a onclick="showContents01()">매매</a></li>
        <li><a href="dashboard01">전세</a></li>
        <li><a href="dashboard01">월세</a></li>
    </ul>
</div>

<div class="iframe_div">
</div>


<!-- ------------------------- contents ------------------------- -->
<div class="container">
    <div class="contents" style="display: none;" id="contents_div">

        <!-- 버튼들 -->
        <div class="contentsButton">
            <button onclick="importIframe()">임시 버튼</button>
            <button onclick="importIframe2()">임시 버튼</button>
            <button onclick="importIframe3()">임시 버튼</button>
        </div>

        <!-- 보여줄 컨텐츠를 설명하는 div -->
        <div class="contents_exp">
        </div>
        
        <!-- 보여줄 iframe이 들어가는 div -->
        <div class="contents_graph_iframe" style="display: none;" id="iframe_div">
        </div>
        <div class="contents_graph_iframe" style="display: none;" id="iframe_div2">
        </div>
        <div class="contents_graph_iframe" style="display: none;" id="iframe_div3">
        </div>

    </div>
</div>
<div class="page_bar">
    <div class="user_button">
        <button id="user_btn_login"><a href="/login">로그인</a></button>
    </div>
</div>

</body>
</html>
