<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">

    <!-- JavaScript -->
    <script src="{{url_for('static', filename='/js/script.js')}}"></script>

    <title>HouseSeoul</title>
</head>

<body>

<!-- Header -->
<header>
    <div class="header_logo">
        <h1><a href="http://127.0.0.1:5000/">서울시 HouseView</a></h1>
    </div>
</header>

<!-- Navbar -->
<div class="navbar">
    <ul class="navbar_ul">
        <li><a href="javascript:iframe01();">지역</a></li>
        <li><a href="javascript:iframe02();">매매</a></li>
        <li><a href="javascript:iframe03();">월세</a></li>
        <li><a href="javascript:iframe04();">전세</a></li>
    </ul>
</div>

<!-- Contents -->
<div class="contents">
    <div class="iframe">
        <div class="iframe" id="main" style="display: block;"></div>
        <div class="iframe" id="iframe01" style="display: none;"></div>
        <div class="iframe" id="iframe02" style="display: none;"></div>
        <div class="iframe" id="iframe03" style="display: none;"></div>
        <div class="iframe" id="iframe04" style="display: none;"></div>
    </div>
</div>

<div class="page_bar">
    <div class="user_button">
        <button id="user_btn_login"><a href="/login">로그인</a></button>
    </div>
</div>

</body>
</html>
