<!DOCTYPE html>
<html>
<title>Housing Price</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="signup.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .signup_box {
        border: 1px solid;
        width: 50%;
        padding: 40px;
    }
</style>



<body class="w3-content" style="max-width:1200px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-top" style="z-index:3;width:250px;background-color: #a28ddbb0;"
        id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide"><strong><a href="#" class="w3-bar-item w3-button" onclick="linktohome()">Housing Price</a></strong></h3>
        </div>
        
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="#" class="w3-bar-item w3-button">아파트</a>
            <a href="#" class="w3-bar-item w3-button">오피스텔</a>
            <a href="#" class="w3-bar-item w3-button">복합</a>
            <a href="#" class="w3-bar-item w3-button">차트</a>
            <p><button class="w3-button w3-block w3-lightblue w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> Search availability</button></p>
        </div>
       
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
        <div class="w3-bar-item w3-padding-24 w3-wide">HOME</div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i
                class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px;height: 100vh;">

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Sign Up</p>
    </header>
    <hr>
    <div style="margin-left: 25%;height: 100%vh;">
        <div class="signup_box">

            <label>아이디:</label><br><hr>
            <input type="text" id="newU_id"><button onclick="idcheck()">중복확인</button><br><br>

            <label>비밀번호 :</label><br>
            <input type="password" id="newU_pw"><br><br>

            <button onclick="signup()">가입하기</button>
            <input type="submit" value="취소">
        </div>
    </div>
    
     


    <script>

        function linktosignup() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    location.href = "signup";
                }
            };
            xhttp.open('GET', 'signup');
            xhttp.send();
        }

        function signup() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (check_id && check_nick) {
                        console.log('sign up 성공')
                        alert('회원가입을 완료했습니다. self level test를 진행해주세요!')
                        location.href = "selftest"
                    } else {
                        alert('중복된 id 또는 닉네임을 사용하였습니다.');
                    }
                }
            };
            xhttp.open("POST", "signup");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            queryString = "u_id=" + document.getElementById("newU_id").value +
                "&u_pw=" + document.getElementById("newU_pw").value +
                "&nick=" + document.getElementById("newNick").value;
            xhttp.send(queryString);
        }

        function idcheck() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = JSON.parse(this.responseText);
                    console.log('중복확인', data);
                    if (data) {
                        alert('사용 가능한 id')
                        check_id = true;
                    } else {
                        alert('중복된 id')
                    }
                }
            };
            xhttp.open("POST", "checkid");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("u_id=" + document.getElementById("newU_id").value);
        }

    </script>

</body>

</html>
